#accordionSidebar {
	min-width: 256px;
}

#page-top.not-super-admin .financial-earnings {
	display: none;
}

.purchase-order-table th:last-child {
    min-width: 126px;
}

.page-item.active .page-link,
.dt-buttons button,
.btn-primary {
    background-color: #4b9b22;
    border-color: #4b9b22;
}

.page-item.active .page-link:hover,
.dt-buttons button:hover,
.btn-primary:hover {
    background-color: #65B53C;
    border-color: #65B53C;
}

.bg-primary {
    background-color: #4b9b22 !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #65B53C;
    border-color: #65B53C;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active,
.text-primary {
    color: #4b9b22!important;
}