#accordionSidebar {
	min-width: 256px;
}

#page-top.not-super-admin .financial-earnings {
	display: none;
}

.purchase-order-table th:last-child {
    min-width: 126px;
}

.page-item.active .page-link,
.dt-buttons button,
.btn-primary {
    background-color: #4b9b22;
    border-color: #4b9b22;
}

.page-item.active .page-link:hover,
.dt-buttons button:hover,
.btn-primary:hover {
    background-color: #65B53C;
    border-color: #65B53C;
}

.bg-primary {
    background-color: #4b9b22 !important;
}

/* Buttons */
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #65B53C;
    border-color: #65B53C;
}

/* Sidebar, Text */
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active,
.text-primary {
    color: #4b9b22!important;
}

/* Login page */
.bg-gradient-primary.login {
    background: rgb(75,155,34);
    background: linear-gradient(180deg, rgba(75,155,34,1) 0%, rgba(255,255,255,1) 100%);
}

.justify-content-center,
.container {
    height: 100vh;
}

.justify-content-center {
    display: flex;
    align-items: center;
}

.login-form {
    padding-top: 0!important;
}

.login-logo {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}